# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.dev
.env.prod

# =========================
# Uploads
# =========================
back/uploads/

# =========================
# Alembic
# =========================
alembic/__pycache__/
alembic/versions/__pycache__/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing
# =========================
.pytest_cache/
htmlcov/
.coverage

# =========================
# Cache
# =========================
.cache/
.mypy_cache/

# =========================
# Docker
# =========================
*.pid

# =========================
# MySQL / Docker Volumes
# =========================
mysql_data/

# =========================
# Frontend (Angular)
# =========================
node_modules/
dist/
.angular/

# =========================
# Build / Temporary
# =========================
build/
tmp/
temp/