<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Roles del sistema</h5>
  </div>

  <div class="card-body">
    @if (loading) {
      <div class="spinner-border spinner-border-sm"></div>
    } @else {
      <table class="table align-middle">
        <thead>
          <tr>
            <th>Rol</th>
            <th>Descripción</th>
            <th width="120"></th>
          </tr>
        </thead>

        <tbody>
          @for (role of roles; track role.id) {
            <tr>
              <td>
                <strong>{{ role.nombre }}</strong>
              </td>

              <td>
                {{ role.descripcion }}
              </td>

              <td>
                <a
                  class="btn btn-outline-primary btn-sm"
                  [routerLink]="['/dashboard/security/roles', role.id]"
                >
                  Ver
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>
